<h2 mat-dialog-title>Nota metodológica</h2>
<mat-divider class="navigation-divider"></mat-divider>
<mat-dialog-content>
    <div class="dialog-content">
        <a href="./assets/metodoLGBT.pdf" target="_blank" mat-menu-item
            >Ver Nota Metodológica</a
        >
        <!-- <p>Para definir el número de los casos activos, acumulados y las defunciones por COVID-19 en Jalisco se utilizan las bases de datos abiertos de COVID-19  liberadas por la Dirección General de Epidemiología de la Secretaría de Salud del Gobierno Federal.</p>
        <p>Casos activos:</p>
        <li>Los casos activos son todos aquellos positivos a SARS-CoV-2 con fecha de inicio de síntomas en los últimos 14 días a la fecha seleccionada de consulta.</li>
        <p>Casos acumulados:</p>
        <li>Los casos acumulados son aquellos positivos a SARS-CoV-2 desde el inicio de la pandemia</li>
        <p>Defunciones acumuladas:</p>
        <li>Las defunciones acumuladas son las muertes de personas con resultados positivos a SARS-CoV-2</li>
        <br>
        <a href="https://www.gob.mx/salud/documentos/datos-abiertos-152127" target="_blank">Fuente: https://www.gob.mx/salud/documentos/datos-abiertos-152127</a> -->
    </div>
</mat-dialog-content>
<mat-divider class="navigation-divider"></mat-divider>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
