<mat-toolbar color="primary" class="fix-nav">
    <button
        type="button"
        mat-icon-button
        class="visible-md"
        (click)="toggleSidebar()"
    >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <img class="logo-principal" src="./assets/images/logo_sisemh.svg" alt="" />

    <span class="nav-spacer"></span>

    <img class="logoiieg" src="./assets/images/iieg_logo_gris.svg" alt="" />
    <img
        class="logodependencia"
        src="./assets/images/seiis/logo_igualdad.svg"
        alt=""
    />
    <img
        class="logojaliscogob"
        src="./assets/images/logo_jalisco_h_gris.svg"
        alt=""
    />
</mat-toolbar>
